.section-1 {
  max-width: 1440px;
  margin: 80px auto 0;
  background-color: #eff1f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.section-1 .shorten-section {
  width: 80%;
  margin-top: -80px;
  border-radius: 8px;
  background-image: url('../assets/images/bg-shorten-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--darkViolet);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.section-1 .shorten-section form {
  margin: 24px;
  display: grid;
  grid-template-rows: 80% 20px;
  grid-template-areas: 
  'input input input input btn'
  'span span span span span'
  ;
  gap: 12px;
  align-items: flex-end;
}
  
.section-1 .shorten-section form input {
  color: var(--gray);
  border: none;
  grid-area: input;
}

.section-1 .shorten-section form input, .btn-shorten-it {
  padding: 18px;
  border-radius: 8px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

/* error message */
.section-1 .shorten-section form .inputErr {
  border: 2px solid var(--red);   
}

.section-1 .shorten-section form .inputErr::placeholder {
  color: var(--red);
}

.section-1 .shorten-section span {
  color: var(--red);
  grid-area: span;
}

.section-1 .shorten-section .erro-msg {
  display: none;
}

/* error message */
.section-1 .shorten-section form .btn-shorten-it {
  padding: 18px 34px;
  font-weight: 600;
  color: #fff;
  border: none;
  background-color: var(--cyan);
  grid-area: btn;
}

.section-1 .shorten-section form .btn-shorten-it:hover {
  background-color: #95e7e7;
  cursor: pointer;
}

.section-1 .shorten {
  width: 80%;
}

.section-1 .section-1-title {
  text-align: center;
  width: 30%;
  margin-top: 100px;
}

.section-1 .section-1-title span {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--darkViolet);
}

.section-1 .section-1-title p {
  margin-top: 12px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--grayishViolet);
}

.section-1 .section-1-cards {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-bottom: 90px
}

.section-1 .section-1-cards .section-1-card {
  height: 280px;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
}

.section-1 .section-1-cards .section-1-card:nth-child(1)::after, .section-1-card:nth-child(2)::after {
  content: '';
  width: 30px;
  height: 8px;
  background-color: var(--cyan);
  position: absolute;
  right: -30px;
  top: 154px;
}

.section-1 .section-1-cards .section-1-card:nth-child(2)::after {
  top: 104px;
}

.section-1 .section-1-cards .section-1-card:nth-child(1) {
  margin-top: 100px;
}

.section-1 .section-1-cards .section-1-card:nth-child(2) {
  margin-top: 150px;
}

.section-1 .section-1-cards .section-1-card:nth-child(3) {
  margin-top: 200px;
}

.section-1 .section-1-cards .section-1-card .bg-img {
  position: absolute;
  top: -48px;
  left: 25%;
  width: 88px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkViolet);
  border-radius: 50%;
  transform: translate(-50%);
}

.section-1 .section-1-cards .section-1-card span {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 18px;
  color: var(--darkViolet);
}

.section-1 .section-1-cards .section-1-card p {
  width: 92%;
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray);
}

/* -----------section-2 */
.section-2 {
  max-width: 1440px;
  margin: auto;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--darkViolet);
}

.section-2 span {
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 988px) {
  .section-1 .section-1-cards {
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  }
  
  .section-1 .section-1-cards .section-1-card:nth-child(1) {
    margin-top: 100px;
  }
  .section-1 .section-1-cards .section-1-card:nth-child(2) {
    margin-top: 100px;
  }
  .section-1 .section-1-cards .section-1-card:nth-child(3) {
    margin-top: 100px;
  }
  
  .section-1 .section-1-cards .section-1-card:nth-child(1)::after, .section-1-card:nth-child(2)::after {
    width: 8px;
    height: 100px;
    right: 50%;
    top: 280px;
    transform: translate(50%);
  }

  .section-1 .section-1-cards .section-1-card:nth-child(2)::after {
    top: 280px;
  }

  .section-1 .section-1-cards .section-1-card .bg-img {
    position: absolute;
    top: -36px;
    left: 50%;
  }
}

@media (max-width: 768px) {
  .section-1 .section-1-cards .section-1-card:nth-child(1)::after, .section-1-card:nth-child(2)::after {
    top: 290px;
  }

  .section-1 .section-1-cards .section-1-card:nth-child(2)::after {
    top: 290px;
  }

  .section-1 {
    margin-top: 172px;
  }

  .section-1 .shorten-section {
    width: 90%;
    background-image: url('../assets/images/bg-boost-mobile.svg');
  }

  .section-1 .shorten-section form {
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-areas: 
    'input'
    'span'
    'btn'
    ;
    gap: 0;
  }

  .section-1 .shorten {
    width: 90%;
  }

  .section-1 .section-1-title {
    width: 90%;
    margin-top: 80px;
  }

  .section-1 .section-1-title span {
    font-size: 1.7rem;
  }

  .section-1 .section-1-title p {
    width: 75%;
    font-size: 1rem;
    margin: auto;
  }

  .section-1 .section-1-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 90%));
    grid-gap: 0;
    margin-bottom: 90px;
    justify-content: center;
  }

  .section-1 .section-1-cards .section-1-card {
    height: 290px;
    align-items: center;
    padding-bottom: 48px;
    margin-top: 24px;
  }

  .section-1 .section-1-cards .section-1-card p {
    width: 92%;
    text-align: center;
  }

  .section-1 .section-1-cards .section-1-card:nth-child(1) {
    margin-top: 85px;
  }
  
  .section-1 .section-1-cards .section-1-card:nth-child(2) {
    margin-top: 90px;
  }
  
  .section-1 .section-1-cards .section-1-card:nth-child(3) {
    margin-top: 90px;
  }

  .section-2 {
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/bg-boost-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--darkViolet);
  }

  .section-2 span {
    font-size: 1.8rem;  
  }
}

