.results-container {
    padding: 16px;
    margin-block: 8px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.shortenIt {
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.shortenUrl {
    color: var(--cyan);
}