.results-container {
    padding: 16px;
    margin-block: 8px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.results-container .requestUrl {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.results-container .shortenIt {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results-container .shortenIt .shortenUrl {
    color: var(--cyan);
}


