.btn-sign-up, .btn-get-starter, .btn-copy {
    width: 108px;
    padding: 11px;
    border-radius: 28px;
    border: none;
    background-color: var(--cyan);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    font-size: 1rem;
}

.btn-sign-up:hover, .btn-get-starter:hover {
    background-color: #95e7e7;
    cursor: pointer;
}

.btn-get-starter {
    width: 192px;
    padding: 16px;
    font-size: 1.2rem;
    margin-top: 36px;
}

.btn-copy {
    width: 86px;
    padding: 8px;
    font-size: 0.9rem;
    border-radius: 4px;
}

.copied {
    background-color: var(--darkViolet);
}

.btn-copy:hover {
    opacity: 50%;
}

@media (max-width: 768px) {
    .btn-copy {
        width: 100%;
    }

    .btn-get-starter {
        margin-top: 24px;
    }

    .btn-sign-up {
        width: 100%;
    }
}
